@media (min-width: 200px) and (max-width: 650px) {
  body {
    background: ghostwhite;
  }
  .container{
    margin: 0 !important;
  }
  #form {
    width: 90%;
    padding: 25px;
    margin: 25vh auto 10vh auto;
  }
  #form .profile-box {
    width: 80px;
    height: 80px;
  }
  #form .profile-box img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  #form {
    width: 100%;
    margin: auto;
    padding: 25px;
  }
  #form .profile-box {
    width: 80px;
    height: 80px;
  }
  #form .profile-box img {
    width: 80px;
    height: 80px;
  }
}
