/*===== GOOGLE FONT ========*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*===== ROOT ========*/
:root {
  --green: #009739;
  --dark-green: #046e2b;
  --gold: #F5D269;
  --white: #ffffff;
  --gray: #918d8d;
  --light: #f8f8ff;
  --black: #000000;
}

/*===== GENERAL STYLING========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Public Sans", serif;
}

body {
  background-color: var(--light);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

img {
  width: 500px;
  height: 100%;
}

section {
  padding: 0px;
}

.theme-btn {
  background: var(--green);
  margin-right: 14px;
  padding: 4px 16px !important;
  overflow-y: hidden;
  font-size: 14px;
  font-weight: 600;
  border: none;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
}

.theme-btn:hover {
  background: var(--dark-green);
  color: var(--white);
}

.theme-btn a {
  color: inherit;
  text-decoration: none;
}

.theme-btn a:hover {
  color: inherit;
}

.button{
  border-radius: 0;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.button:hover{
  background-color: var(--green);
  color: var(--white);
}
/*===== HEADER SECTION========*/
header .navbar {
  padding: 20px;
}

header .navbar .navbar-brand.logo {
  color: var(--green);
  font-size: 25px;
}

header .navbar .nav-link {
  font-size: 18px;
  color: var(--dark-green);
  transition: all 0.3s;
}

.nav-item .nav-link.active{
  color: var(--green);
}

header .navbar .nav-link:hover {
  color: var(--gold);
}

/*===== HERO SECTION========*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-color: var(--dark-green);
  color: var(--light);

}

.hero .hero-img {
  width: 100%; 
  height: 80vh; 
  object-fit: cover; 
} 





/* .hero {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-green);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .main-heading {
  padding-top: 60px;
}
.hero .main-heading span.span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px 12px;
  color: var(--white);
}
.hero .main-heading h1 {
  display: block;
  color: var(--white);
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  overflow-y: hidden;
}
.hero .main-heading h1 span {
  color: var(--dark-green);
}

.hero .main-heading p {
  color: var(--white);
  font-size: 16px;
}
.space {
  line-height: 30px;
}

.hero img{
  width: 60%;
  height: 100vh;
  object-fit: cover;
  display: flex;
  justify-content: end;
  align-items: end;
} */
/* .hero .hero-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */
/* 
.hero .theme-btn{
    padding: 14px 24px !important;
} */


/*===== ABOUT SECTION========*/
.about {
    padding: 80px 0;
    margin-bottom: 50px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/images/image2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }
  .about .images{
    height: 100%;
  }
  .about .images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .heading h1.title{
    font-size: 50px;
    color: var(--white);
    font-weight: 500;
  }
  .heading span.span {
    background: var(--dark-green);
    padding: 4px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 16px;
    color: var(--white);
  }
  
  .about .items-area {
    margin-top: 30px;
  }
  .heading p{
    font-size: 14px;
    color: var(--white);
  }

  .about .theme-btn{
    padding: 14px 24px !important;
    width: 200px;
    margin-top: 30px;
}

/*===== SERVICES START ========*/
.services {
    background: var(--white);
    padding-top: 20px;
  }
  
  .services .heading .span {
    background: var(--dark-green);
    padding: 6px 12px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 16px;
    color: var(--white);
  }

.services .card{
  width: 250px;
  min-width: 250px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border: none;
  cursor: pointer;
 
}
.card .card-body{
  overflow: hidden;
}
.card .card-body h5{
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  
}

/* --===== TESTIMONIAL START ========-- */
.testimonial {
  padding: 50px;
}

.testimonial p{
  color: var(--green);
}

.testimony-box{
  background: var(--green);
}

.testimony-box img{
  width: 60px;
  height: 60px;
  border: 3px solid var(--light);
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.testimony-box h3{
  color: var(--light);
}
.testimony-box p{
  color: var(--white);
  width: 500px;

}
  

/* --===== CONTACT START ========-- */
.contact{
  padding: 50px;
}
  
.contact h6{
  color: var(--gray);
}
.contact p{
  color: var(--green);
}
.contact .btn-message{
  background-color: var(--green);
  padding: 12px 24px;
  color: var(--white);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.contact .btn-message:hover{
  background-color: var(--dark-green);
}
.contact-icon{
  text-align: center;
  margin-right: 30px;
}
.contact-icon i{
  color: var(--light);
  text-align: center;
  font-size: 35px;
}

.contact-text{
  background: var(--green);
  color: var(--green);
}
.contact-text p{
  color: var(--light);
}
.contact-text h5{
  color: var(--white);
}

/*===== FOOTER START ========*/
.footer{
  background-color: var(--dark-green);
  padding: 50px;
}
.footer .logo-box{
  background-color: var(--white);
  width: 300px;
  min-width: 300px;
  padding-left: 10px;
}
.footer .logo-box img{
  width: 150px;
  height: 100px;
}
.footer .logo-box h1{
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: var(--dark-green);
}
.footer p{
  color: var(--light);
}

.footer-links h4{
  color: var(--light);
}
.footer-links .lists a{
  color: var(white);
}