/*===== GOOGLE FONT ========*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*===== ROOT ========*/
:root {
  --green: #009739;
  --dark-green: #046e2b;
  --light-green: #34dc75;
  --white: #ffffff;
  --gray: #d5d4d4;
  --light: #f8f8ff;
  --black: #000000;
}

/*===== GENERAL STYLING========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Public Sans", serif;
}

body {
  background-color: var(--light);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

img {
  width: 500px;
  height: 100%;
}

section {
  padding: 0px;
}

.button{
  border-radius: 0;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.button:hover{
  background-color: var(--green);
  color: var(--white);
}

.top-links{
  background-color: var(--green);
  height: 40px;
  overflow-y: hidden;

}
.mail p{
  color: var(--white);
}
.socials a{
  color: var(--white);
  padding-left: 5px;
}

@media (max-width:768px){
  .top-links{
    display: none;
  }
}

.brand-logo{
  color: var(--green);
  font-weight: bolder;
}

.navbar-nav .nav-link{
  color: var(--dark-green);
  font-weight: bold;
}
.navbar-nav .nav-link:hover{
  color: var(--light-green);
}

.navbar-nav .nav-link.active{
  color: var(--light-green);
}

.apply-btn a{
  background-color: var(--green);
  border-radius: 0;
  font-size: 16px;
  color: var(--light);
  padding: 5px;
}
.apply-btn a:hover{
  background-color: var(--dark-green);
  color: var(--light);
}

@media (max-width:768px){
  .brand-logo{
    font-size: 16px;
    padding-left: 20px;

  }
  .navbar-nav{
    padding-left: 20px;
  }
  .navbar-nav .nav-link{
    font-size: 14px;
  }
  .apply-btn{
    padding-left: 20px;
  }
  .apply-btn a{
    font-size: 14px;
  }
}
/*===== HERO SECTION========*/
.hero{
  position: relative;
  height: 120vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: var(--light);

}
.hero:after{
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}
.hero:before{
  content: '';
   position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -moz-transform: translateZ(0) scale(1.0, 1.0);
  -ms-transform: translateZ(0) scale(1.0, 1.0);
  transform:translateZ(0) scale(1.0, 1.0) ;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(/images/hero2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: increase 60s linear 10ms infinite;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  z-index: -2;
}

.hero-heading{
  overflow-y: hidden;
  width: 60%;
}
.hero-heading h1{
  font-size: 50px;

}
.hero-heading p{
  font-size: 20px !important;
  font-style: italic;
}
.hero-heading a{
  padding: 10px 24px;
  font-size: 20px;
}
.hero-heading a:hover{
  border-color: var(--light-green) !important;
  color: var(--light-green) !important;
}

@keyframes increase{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5)
  }
}

@media (max-width:768px){
  .hero{
    height: 80vh;

  }
  .hero-heading{
    width: 100%;
  }
  .hero-heading h1{
    font-size: 28px;
  }
  .hero-heading p{
    font-size: 16px !important;
  }
  .hero-heading a{
    padding: 5px 10px;
    font-size: 14px;
  }
}

/*===== ABOUT SECTION========*/
.about{
  padding: 50px 20px;
  background: var(white) !important;
}
.about .card{
  border: 0;
  border-radius: 0;
}

.about .card-body h5{
  color: var(--green);
}
.about .card-body h4{
  color: var(--light-green);
}
.about .about-list{
  display: flex;
  flex-direction: row;
}
.about  ul {
  padding-left: 0rem;
}
.about .about-list i{
  color: var(--green);
  font-size: 25px;
  padding-right: 10px;
}

.about .about-list p{
  font-size: 18px;
}
.about .about-list p strong{
  color: var(--green);
}

@media (max-width:768px){
  .about{
    padding: 30px 10px;
  }
  .about img{
    height: 250px;
  }
  

.about .card-body h5{
  font-size: 30px;
  font-weight: bold;
}
.about .card-body p{
  font-size: 14px;
}
.about  ul {
  padding-left: 0rem;
}
.about .about-list i{
  color: var(--green);
  font-size: 20px;
  padding-right: 20px;
}

.about .about-list p{
  font-size: 16px;
}
.about .card-text{
  font-size: 16px !important;
}
}

/*===== SERVICES START ========*/
.service{
  padding-top: 30px;
  background: var(--light);
  height: auto;
  margin-bottom: 30px;
}
.service .heading-box p{
  color: var(--green) !important;
}
.service .card{
  background: transparent;
  border: none;
  width: 250px;
  padding: 20px;

}
.service .card i{
  font-size: 50px;
  color: var(--green);
  text-align: center;
  padding-right: 15px;
}
.service .card .card-body{
  text-align: center;
}
.service .card .card-body h5{
  color: var(--dark-green);
}
.service .card .service-list i{
  font-size: 20px;
  margin-right: 10px;
}
.service .card .service-list a{
  color: var(--green);
  font-size: 14px;
  font-weight: 200px;
  padding-bottom: 10px;
  transition: .3s ease-in-out;
}
.service .card .service-list a:hover{
  color: var(--dark-green);
}

.service .card .service-list .service-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding-top: 20px;
  width: auto;

}
.service .card .service-list .service-link:last-child{
  border-bottom: 0;
}
  

@media (max-width:768px) {
  .service .card{
    width: 100%;
  }
  .service .card .service-list .service-link{
    border-bottom: 0;
    padding-top: 10px;
  }
}

/* --===== TESTIMONIAL START ========-- */
.testimonial {
  padding: 10px;
}

.testimonial p{
  color: var(--green);
}

.testimony-box{
  background: var(--dark-green);
}

.testimony-box img{
  width: 60px;
  height: 60px;
  border: 3px solid var(--light);
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.testimony-box h3{
  color: var(--light);
}
.testimony-box p{
  color: var(--white);
  width: 500px;

}
  

@media (max-width:768px){
  
.testimonial {
  padding: 10px;
}

.testimonial .heading-box p{
  font-size: 30px;
}
.testimonial .testimony-heading h5{
  font-size: 16px !important;
  font-style: italic !important;
}
.testimony-box img{
  width: 40px;
  height: 40px;
  border: 2px solid var(--light);
  margin-right: 10px;
}

.testimony-box h3{
  font-size: 16px;
}
.testimony-box p{
  font-size: 12px;
  text-align: center;
  width: 100% !important;
  font-style: italic;
}
  
}

/* --===== CONTACT START ========-- */
.contact{
  padding: 50px;
}
  
.contact h6{
  color: var(--gray);
}
.contact p{
  color: var(--green);
}
.contact .btn-message{
  background-color: var(--green);
  padding: 12px 24px;
  color: var(--white);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.contact .btn-message:hover{
  background-color: var(--dark-green);
}
.contact-icon{
  text-align: center;
  margin-right: 30px;
}
.contact-icon i{
  color: var(--light);
  text-align: center;
  font-size: 35px;
}
.contact-text{
  background: var(--green);
  color: var(--green);
}
.contact-text p{
  color: var(--light);
}
.contact-text h5{
  color: var(--white);
}

@media (max-width:768px){
  .contact{
    padding: 10px;
  }
  .container{
    padding: 0 !important;
  }
  .contact .btn-message{
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .contact-text{
    min-width: 100%;
    padding: 30px;
    margin-top: 20px;
  }
  .contact-text p{
    font-size: 16px !important;
  }
  .contact-icon{
    margin-right: 0px;
  }
  .contact-icon i{
    font-size: 18px;
  }
  .contact-text .contact-details p{
    font-size: 14px !important;
  }
  .contact-text .contact-details h5{
    font-size: 14px !important;
  }
  .contact-icon{
    padding-right: 10px;
  }

  form{
    width: 100%;
  }
}

/*===== FOOTER START ========*/
.footer{
  background-color: var(--dark-green);
  padding: 50px;
}
.footer .logo-box{
  background-color: var(--white);
  width: 300px;
  min-width: 300px;
  padding-left: 10px;
}
.footer .logo-box img{
  width: 150px;
  height: 100px;
}
.footer .logo-box h1{
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: var(--dark-green);
}
.footer p{
  color: var(--light);
}

.footer-link h4{
  color: var(--light);
  padding-bottom: 20px;
}
.links-box{
  padding-bottom: 10px;
}

.links-box i{
  color:#34dc75;
  font-size: 12px;
  margin-right: 12px;
}
.links-box a{
  color: var(--light);
  font-weight: 300;
  transition: .3s ease-in-out;
}
.links-box a:hover{
  color: #34dc75;
  text-decoration: underline;
}

.info-heading h4{
  padding-bottom: 20px;
  color: var(--light);
}
.info-box i{
  color:#34dc75;
  font-size: 14px;
  margin-right: 12px;
}
.info-box{
  display: flex;
  align-items: center;
}
.info-box p:hover{
  color: #34dc75;
  text-decoration: underline;
}
.social-links{
  padding-top: 10px;
}
.social-links a{
  color: var(--light);
  font-weight: 300;
  transition: .3s ease-in-out;
  margin-right: 10px;
  font-size: 20px;
}
.social-links a:hover{
  color: #34dc75;
}

.copyright-area{
  padding-top: 20px;
}
.copyright p{
  text-align: center;
}

@media (max-width:768px){
  .footer{
    padding: 30px;
  }
  .footer .logo-box{
    width: 250px;
    min-width: 250px;
    padding-left: 10px;
  }
  .footer .logo-box img{
    width: 100px;
    height: 70px;
  }
  .footer .logo-box h1{
    font-size: 25px;
  }
 
  .info-heading h4{
    padding-bottom: 10px;
    font-size: 18px;
  }
  .info-box p{
    font-size: 14px;
  }
  .footer-link h4{
    padding-bottom: 10px;
    font-size: 18px;
  }
  .links-box{
    padding-bottom: 10px;
  }
  .links-box i{
    color:#34dc75;
    font-size: 12px;
    margin-right: 12px;
  }
  .links-box a{
   font-size: 14px;
  }
  .social-links a{
    font-size: 16px;
  }
  .copyright p{
    font-size: 14px;
  }
}